body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 94%);
}

.container {
    background-color: white;
    min-width: clamp(50%, 50vw, 70%);
    min-height: 70%;
    border-radius: 30px 30px 200px 30px;
    padding: clamp(0.1rem, 5vw, 4rem);
    padding-bottom: 0px;
    padding-top: 0px;
    position: relative;
}

.container > h1 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 700;
    font-size: clamp(0.1rem, 4vw, 3rem);
}

.container > h2 {
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 700;
    font-size: clamp(0.1rem, 2.3vw, 1.4rem);
}

.formsContainer {
    display: flex;
    gap: clamp(0.2rem, 10vw, 1rem);
    justify-content: flex-start;
}

.form {
    display: flex;
    flex-direction: column;
    font-size: clamp(0.1rem, 1.2vw, 0.9rem);
    font-style: italic;
}

.form > input {
    outline: none;
    border: solid rgb(172, 172, 172) 1px;
    border-radius: 12%;
    width: clamp(0.2rem, 10vw, 8rem);
    height: clamp(0.1rem, 6vw, 4rem);
    margin-top: clamp(0.01rem, 3vw, 0.5rem);
    margin-bottom: clamp(0.01rem, 3vw, 0.5rem);
    font-size: clamp(0.1rem, 3vw, 1.5rem);
    padding-left: clamp(0.1rem, 3vw, 0.7rem);
    font-weight: 600;
}

.form > input:focus {
    border-color: hsl(259, 100%, 65%);
}

hr {
    margin-top: clamp(0.2rem, 5vw, 4rem);
    margin-right: clamp(0.2rem, 5vw, 1rem);
}

.inputTitle {
    font-weight: 600;
    letter-spacing: 0.2rem;
    font-size: clamp(0.1rem, 3vw, 1.3rem);
    font-style: normal;
}

.error {
    color: hsl(0, 100%, 67%);
}

.outputContainer { 
    font-size: clamp(0.2rem, 5vw, 3rem);
    color: hsl(0, 0%, 8%);
    font-style: italic;
    line-height: clamp(0.6rem, 13vw, 7rem);
}

.finalValue {
    color: hsl(259, 100%, 65%);
    letter-spacing: clamp(0.1rem, 4vw, 1rem);
}

.buttonandbreak {
    position: relative;
    border: solid white 1px;
}

button{
    border: none;
    border-radius: 50%;
    width: clamp(0.3rem, 8vw, 6rem);
    height: clamp(0.3rem, 8vw, 6rem);
    background-color: hsl(259, 100%, 65%);
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: clamp(2%, 10vw, 20%);
    right: clamp(0%, 10vw, 1%);
    transition: 200ms;
}

button:hover {
    background-color: hsl(259, 50%, 49%)
}

button:active {
    background-color: hsl(259, 53%, 20%)
}

img {
    width: clamp(0.3rem, 6vw, 4rem);
    height: clamp(0.3rem, 6vw, 4rem);
}

@media (max-width: 1240px) {
    button{
    right: 45%;
    }
}

@media (max-width: 948px) {
    .container {
        border-radius: 30px 30px 100px 30px;
    }
}